---
import BaseHead from '@/components/layout/head/base-head.astro';
import Header from '@/components/layout/header/index.astro';
import Footer from '@/components/layout/footer/index.astro';
const lang = Astro.currentLocale;
const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang={lang} class="scroll-smooth">
<BaseHead title={title} description={description} />
<body class="flex flex-col min-h-screen">
  <Header />
  <main class="flex-grow">
    <slot />
  </main>
  <Footer />
</body>
</html>